html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
}
.btn-game {
  font-size: 12px;
  text-align: center;
  border-color: #999;
  border-width: 4px;
  background-color: #666;
  color: #fff;
}

.btn-circle {
  border-radius: 50%;
}

body {
  background: linear-gradient(#ff6, #f66);
}