﻿@model GunsOfTheOldWest.Data.User
@{
    ViewData["Title"] = "Samenvatting";
}
<div asp-validation-summary="ModelOnly"></div>

<div class="text-center">
    <h1 class="display-4">Guns of the Old West</h1><br/>
    <h2>Shop</h2>
    <form method="post">
        <label>Voornaam</label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>

        <label>Achternaam</label>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName" class="text-danger"></span>

        <label>Email</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>

        <label>Telefoon</label>
        <input asp-for="Telephone"/>
        <span asp-validation-for="Telephone" class="text-danger"></span>

        <button type="submit" class="btn btn-game">Versturen</button>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}