﻿@model GunsOfTheOldWest.Data.User
@{
    ViewData["Title"] = "Samenvatting";
}

<div class="text-center">
    <h1 class="display-4">Guns of the Old West</h1><br/>
    <h2>Samenvatting</h2>

    <label>Voornaam</label>
    <p>@Model.FirstName</p>
    <label>Achternaam</label>
    <p>@Model.LastName</p>
    <label>Email</label>
    <p>@Model.Email</p>
    <label>Telefoon</label>
    <p>@Model.Telephone</p>
</div>