﻿@model GunsOfTheOldWest.WebApp.Views.DTO.ShopResult
@using GunsOfTheOldWest.Data
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Guns of the Old West</h1><br/>
    <h2>Shop</h2>
    @foreach (var item in ShopData.Items)
    {
        <form method="post" style="display: contents;">
            <input style="display: none;" asp-for="Id" value="@item.Id"/>
            <button class="btn btn-game" value="@item.Id">Koop @item.Name voor $@item.Price</button>
        </form>
    }
</div>