﻿@Model SaveState
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Guns of the Old West</h1>
    <form method="post">
        <button class="btn btn-game btn-circle btn-xl">Fire</button>    
    </form>
    <p>Nog @Model.BulletCount kogels</p>
</div>