@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Deze game gebruikt een cookie om bij te houden wie je bent. Deze wordt nergens opgeslagen en enkel tijdelijk in het gegeugen van de server bijgehouden. Er worden geen identifierende gegevens bijgehouden.</p>